#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
  CC := $(DEB_HOST_GNU_TYPE)-gcc
else
  CC := gcc
endif

export DEB_BUILD_MAINT_OPTIONS := hardening=+all
export DEB_CFLAGS_MAINT_APPEND := -Wall -Winline
export DEB_CPPFLAGS_MAINT_APPEND := -D_REENTRANT -D_FILE_OFFSET_BITS=64
include /usr/share/dpkg/buildflags.mk

export CARGO_HOME := $(CURDIR)/debian/cargo-home
export CARGO_TARGET_DIR := $(CURDIR)/../cargo
export SAFE_STAGE := $(CURDIR)/../install/root

lib_pkg := libbz2-1.0
dev_pkg := libbz2-dev
cli_bindir := $(SAFE_STAGE)/usr/bin
libdir := $(SAFE_STAGE)/usr/lib/$(DEB_HOST_MULTIARCH)
includedir := $(SAFE_STAGE)/usr/include

%:
	dh $@

.PHONY: override_dh_auto_build-arch
override_dh_auto_build-arch:
	mkdir -p $(CARGO_HOME) $(cli_bindir) $(libdir) $(includedir)
	LIBBZ2_SKIP_VERSION_SCRIPT=1 cargo build --manifest-path Cargo.toml --release --locked --offline
	install -m 0755 $(CARGO_TARGET_DIR)/release/libbz2.so $(libdir)/libbz2.so.1.0.4
	ln -sfn libbz2.so.1.0.4 $(libdir)/libbz2.so.1.0
	install -m 0644 $(CARGO_TARGET_DIR)/release/libbz2.a $(libdir)/libbz2.a
	install -m 0644 include/bzlib.h $(includedir)/bzlib.h
	CC='$(CC)' CFLAGS='$(CFLAGS)' CPPFLAGS='$(CPPFLAGS)' LDFLAGS='$(LDFLAGS)' \
	  scripts/build-original-cli-against-safe.sh \
	    --source-root $(CURDIR) \
	    --output-dir $(cli_bindir) \
	    --lib-dir $(CARGO_TARGET_DIR)/release \
	    --include-dir $(CURDIR)/include

ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
.PHONY: override_dh_auto_build-indep
override_dh_auto_build-indep: bzip2.info
else
.PHONY: override_dh_auto_build-indep
override_dh_auto_build-indep:
endif

manual.texi: manual.xml
	docbook2x-texi \
	  --string-param directory-category=Development \
	  --string-param directory-description='A program and library for data compression' \
	  --string-param output-file=manual \
	  --to-stdout $< > $@

bzip2.info: manual.texi
	makeinfo -o bzip2.info manual.texi

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
.PHONY: override_dh_auto_test-arch
override_dh_auto_test-arch:
	cargo test --manifest-path Cargo.toml --release --locked --offline --lib
else
.PHONY: override_dh_auto_test-arch
override_dh_auto_test-arch:
endif

.PHONY: override_dh_auto_test-indep
override_dh_auto_test-indep:

.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	rm -rf \
	  $(CURDIR)/debian/cargo-home \
	  $(CURDIR)/../cargo \
	  $(CURDIR)/../install \
	  bzip2.info \
	  bzip2.info-* \
	  manual.texi

.PHONY: override_dh_auto_install-arch
override_dh_auto_install-arch:
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH) debian/tmp/usr/include
	mkdir -p debian/tmp/usr/bin
	cp -a $(libdir)/libbz2.so.1.0.4 debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/
	ln -sf libbz2.so.1.0.4 debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libbz2.so.1.0
	cp -a $(libdir)/libbz2.a debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/
	cp -a $(includedir)/bzlib.h debian/tmp/usr/include/
	cp -a $(cli_bindir)/bzip2 debian/tmp/usr/bin/
	cp -a $(cli_bindir)/bzip2recover debian/tmp/usr/bin/
	cp -a $(cli_bindir)/bzdiff debian/tmp/usr/bin/
	cp -a $(cli_bindir)/bzgrep debian/tmp/usr/bin/
	cp -a $(cli_bindir)/bzmore debian/tmp/usr/bin/

.PHONY: override_dh_auto_install-indep
override_dh_auto_install-indep:

.PHONY: override_dh_link
override_dh_link:
	dh_link -p$(lib_pkg) usr/lib/$(DEB_HOST_MULTIARCH)/libbz2.so.1.0.4 \
	                     usr/lib/$(DEB_HOST_MULTIARCH)/libbz2.so.1
	dh_link -p$(dev_pkg) usr/lib/$(DEB_HOST_MULTIARCH)/libbz2.so.1.0 \
	                     usr/lib/$(DEB_HOST_MULTIARCH)/libbz2.so
	dh_link --remaining-packages

.PHONY: override_dh_missing
override_dh_missing:
	dh_missing --fail-missing

.PHONY: override_dh_installdocs
override_dh_installdocs:
	dh_installdocs -plibbz2-dev --link-doc=libbz2-1.0
	dh_installdocs --remaining-packages
