/safe/target/
/target/compat/
/original/*.sho
/original/bzip2
/original/bzip2.o
/original/dlltest
/original/dlltest-path.bz2
/original/dlltest-path.out
/original/dlltest-stdio.bz2
/original/dlltest-stdio.out
/original/dlltest-win32.exe
/original/dlltest-win64.exe
/original/libbz2.so
/original/libbz2.so.1.0
/original/libbz2.so.1.0.4
/original/public_api_test
/original/public_api_test.o
/original/sample*.rb2
/original/sample*.tst
